@model ExchangeApplication.ViewModels.JsonIdUser


<h2>About</h2>


<div>
    <div class="box">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Bank</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-condensed table-bordered">
                    <tr>
                        <th>
                            <p> Currency <p>
                        </th>
                        <th>
                            <p> Unit <p>
                        </th>
                        <th>
                            <p> Value <p>
                        </th>
                        <th>
                            <p> Actions <p>
                        </th>
                      </tr>


                    <tr>
                        <td>
                            <p> @Model.ar[0].rates[0].currency <p>
                        </td>
                        <td>
                            <p> 1 <p>
                        </td>
                        <td>
                            <p> @Model.ar[0].rates[0].ask <p>
                        </td>
                        <td>
                            <p> @Html.ActionLink("Buy", "Buy", "Home", new { id = Model.user.Id, currency = @Model.ar[0].rates[0].currency }, null)<p> <p>
                        </td>                      
                    </tr>

                    <tr>
                        <td>
                            <p> @Model.ar[0].rates[3].currency <p>
                        </td>
                        <td>
                            <p> 1 <p>
                        </td>
                        <td>
                            <p> @Model.ar[0].rates[3].ask <p>
                        </td>
                        <td>
                            <p> @Html.ActionLink("Buy", "Buy", "Home", new { id = Model.user.Id, currency = @Model.ar[0].rates[3].currency }, null)<p> <p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <p> @Model.ar[0].rates[5].currency <p>
                        </td>
                        <td>
                            <p> 1 <p>
                        </td>
                        <td>
                            <p> @Model.ar[0].rates[5].ask <p>
                        </td>
                        <td>
                            <p> @Html.ActionLink("Buy", "Buy", "Home", new { id = Model.user.Id, currency = @Model.ar[0].rates[5].currency }, null)<p> <p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <p> @Model.ar[0].rates[10].currency <p>
                        </td>
                        <td>
                            <p>  0.1<p>
                        </td>
                        <td>
                            <p> @Model.ar[0].rates[10].ask <p>
                        </td>
                        <td>
                            <p> @Html.ActionLink("Buy", "Buy", "Home", new { id = Model.user.Id, currency = @Model.ar[0].rates[10].currency }, null)<p> <p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <p> @Model.ar[0].rates[8].currency <p>
                        </td>
                        <td>
                            <p> 0.1 <p>
                        </td>
                        <td>
                            <p> @Model.ar[0].rates[8].ask <p>
                        </td>
                        <td>
                            <p> @Html.ActionLink("Buy", "Buy", "Home", new { id = Model.user.Id, currency = @Model.ar[0].rates[8].currency }, null)<p> <p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <p> @Model.ar[0].rates[6].currency <p>
                        </td>
                        <td>
                            <p> 1 <p>
                        </td>
                        <td>
                            <p> @Model.ar[0].rates[6].ask <p>
                        </td>
                        <td>
                            <p> @Html.ActionLink("Buy", "Buy", "Home", new { id = Model.user.Id, currency = @Model.ar[0].rates[6].currency }, null)<p> <p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>My wallet</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-condensed table-bordered">
                    <tr>
                        <th>
                            <p> Currency <p>
                        </th>
                        <th>
                            <p> Unit Price <p>
                        </th>
                        <th>
                            <p> Amount <p>
                        </th>
                        <th>
                            <p> Value <p>
                        </th>
                        <th>
                            <p> Action <p>
                        </th>
                    </tr>


                    <tr>
                        <td>
                            <p> @Model.ar[0].rates[0].currency <p>
                        </td>
                        <td>
                            <p> @Model.ar[0].rates[0].bid <p>
                        </td>
                        <td>
                            <p> @Model.user.info.USD <p>
                        </td>
                        <td>
                            <p>  @ViewBag.USDM <p>
                        </td>
                        <td>
                            <p> @Html.ActionLink("Sell", "Sell", "Home", new { id = Model.user.Id, currency = @Model.ar[0].rates[0].currency }, null)<p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <p> @Model.ar[0].rates[3].currency <p>
                        </td>
                        <td>
                            <p> @Model.ar[0].rates[3].bid <p>
                        </td>
                        <td>
                            <p> @Model.user.info.EUR <p>
                        </td>
                        <td>
                            <p> @ViewBag.EURM <p>
                        </td>
                        <td>
                            <p> @Html.ActionLink("Sell", "Sell", "Home", new { id = Model.user.Id, currency = @Model.ar[0].rates[3].currency }, null)<p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <p> @Model.ar[0].rates[5].currency <p>
                        </td>
                        <td>
                            <p> @Model.ar[0].rates[5].bid <p>
                        </td>
                        <td>
                            <p> @Model.user.info.CHF <p>
                        </td>
                        <td>
                            <p> @ViewBag.CHFM <p>
                        </td>
                        <td>
                            <p> @Html.ActionLink("Sell", "Sell", "Home", new { id = Model.user.Id, currency = @Model.ar[0].rates[5].currency }, null)<p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <p> @Model.ar[0].rates[10].currency <p>
                        </td>
                        <td>
                            <p> @Model.ar[0].rates[10].bid <p>
                        </td>
                        <td>
                            <p> @Model.user.info.RUB <p>
                        </td>
                        <td>
                            <p> @ViewBag.RUBM <p>
                        </td>
                        <td>
                            <p> @Html.ActionLink("Sell", "Sell", "Home", new { id = Model.user.Id, currency = @Model.ar[0].rates[10].currency }, null)<p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <p> @Model.ar[0].rates[8].currency <p>
                        </td>
                        <td>
                            <p> @Model.ar[0].rates[8].bid <p>
                        </td>
                        <td>
                            <p> @Model.user.info.CZK <p>
                        </td>
                        <td>
                            <p> @ViewBag.CZKM <p>
                        </td>
                        <td>
                            <p> @Html.ActionLink("Sell", "Sell", "Home", new { id = Model.user.Id, @Model.ar[0].rates[8].currency }, null)<p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <p> @Model.ar[0].rates[6].currency <p>
                        </td>
                        <td>
                            <p> @Model.ar[0].rates[6].bid <p>
                        </td>
                        <td>
                            <p> @Model.user.info.GBP <p>
                        </td>
                        <td>
                            <p> @ViewBag.GBPM <p>
                        </td>
                        <td>
                            <p> @Html.ActionLink("Sell", "Sell", "Home", new { id = Model.user.Id, @Model.ar[0].rates[6].currency }, null)<p>
                        </td>
                    </tr>
                </table>
                <h1>You have @Model.user.info.PLN zl.</h1>
            </div>
        </div>
    </div>
</div>
<div style="clear:both"></div>
